.reveal {
  font-family: OswaldExtraLight, serif;
  font-size: 60px; }
  .reveal .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .reveal .shadowed {
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75); }
  .reveal code span.fragment.fade-out.visible {
    display: none; }
  .reveal section img {
    border: none;
    background: none;
    box-shadow: none;
    margin: 0; }
  .reveal section code {
    padding: 20px;
    max-height: 1500px;
    font-size: 30px;
    line-height: 35px;
    overflow: hidden; }
  .reveal section.fullscreen code {
    font-size: 35px;
    line-height: 40px; }
  .reveal img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle; }
  .reveal .block {
    display: inline-block;
    vertical-align: middle; }
  .reveal img.block {
    margin-right: -5px; }
  .reveal h1.title {
    font-family: OswaldMedium, serif;
    font-size: 2em; }
  .reveal h3.subtitle {
    font-family: OswaldExtraLight, serif;
    font-size: 0.7em;
    font-style: italic; }
  .reveal h2 {
    font-family: OswaldExtraLight, serif;
    font-size: 1.5em; }
  .reveal blockquote {
    border: 20px solid;
    padding: 15px;
    /* Safari 3.1-5 */
    -o-border-image: url(../img/bubble.png) 100 stretch;
    /* Opera 11-12.1 */
    border-image: url(../img/bubble.png) 100 stretch;
    box-shadow: none;
    font-family: OswaldLight, serif; }
  .reveal img.lang-embedded {
    border: none;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px; }
  .reveal h2 img.lang-embedded {
    border: none;
    width: 80px;
    padding-left: 5px;
    padding-right: 5px; }
  .reveal div.menu-item {
    text-align: center;
    padding-bottom: 15px; }
    .reveal div.menu-item img.skull {
      width: 70px;
      vertical-align: middle;
      padding-bottom: 15px; }
    .reveal div.menu-item img.menu_text {
      width: 870px;
      vertical-align: middle; }
  .reveal .chart .ct-series-a .ct-line {
    stroke: #0082C8; }
  .reveal .chart .ct-series-c .ct-line {
    stroke: #f8af00; }
  .reveal .chart .ct-series-a .ct-slice-pie {
    fill: #008ed6; }
  .reveal .chart .ct-series-b .ct-slice-pie {
    fill: #f05b4f; }
  .reveal .chart .ct-series-c .ct-slice-pie {
    fill: #f8af00; }
  .reveal .chart .ct-legend {
    position: relative;
    z-index: 10;
    list-style-type: none; }
    .reveal .chart .ct-legend li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 3px;
      display: inline-block;
      margin-right: 23px; }
    .reveal .chart .ct-legend li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px; }
    .reveal .chart .ct-legend li.inactive:before {
      background: transparent; }
    .reveal .chart .ct-legend.ct-legend-inside {
      position: absolute;
      top: 0;
      right: 0; }
  .reveal .chart.line-chart .ct-legend .ct-series-0:before {
    background-color: #0082C8;
    border-color: #0082C8; }
  .reveal .chart.line-chart .ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f; }
  .reveal .chart.line-chart .ct-legend .ct-series-2:before {
    background-color: #f8af00;
    border-color: #f8af00; }
  .reveal .chart.pie-chart .ct-legend .ct-series-0:before {
    background-color: #0082C8;
    border-color: #0082C8; }
  .reveal .chart.pie-chart .ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f; }
  .reveal .chart.pie-chart .ct-legend .ct-series-2:before {
    background-color: #f8af00;
    border-color: #f8af00; }
  .reveal img.doom-face {
    padding-top: 50px;
    width: 100px; }
  .reveal ul {
    list-style: none;
    margin: 0; }
    .reveal ul li {
      padding-bottom: 10px; }
  .reveal .four-grid {
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0.7em; }
    .reveal .four-grid > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
      .reveal .four-grid > div .fragment {
        position: absolute; }
    .reveal .four-grid .one {
      grid-column: 1;
      grid-row: 1;
      border-right: thin dotted;
      border-bottom: thin dotted; }
    .reveal .four-grid .two {
      grid-column: 2;
      grid-row: 1;
      border-bottom: thin dotted; }
    .reveal .four-grid .three {
      grid-column: 1;
      grid-row: 2;
      border-right: thin dotted; }
    .reveal .four-grid .four {
      grid-column: 2;
      grid-row: 2; }
  .reveal code span.fragment.highlight-red.error.visible {
    color: black;
    background-color: rgba(255, 0, 0, 0.37); }
    .reveal code span.fragment.highlight-red.error.visible span {
      color: black; }
  .reveal code mark {
    background-color: #9fffa3; }
  .reveal footer {
    position: absolute;
    left: 50%;
    margin-left: -265px;
    bottom: 10px;
    z-index: 500;
    font-size: 20px; }
  .reveal .kunammon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 200; }
    .reveal .kunammon img {
      width: 600px;
      display: block;
      float: right; }
  .reveal .fire {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/fire.gif) no-repeat center center; }
  .reveal a {
    color: black; }
    .reveal a:hover {
      color: #7c7a84; }
  .reveal #doomhead {
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    z-index: 500; }
    .reveal #doomhead img {
      width: 150px; }
