.reveal {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  code {
    padding: 20px !important;
    max-height: 1500px !important;
  }

  code span.fragment.fade-out.visible {
    display: none;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }

  h1.title {
    font-family: OswaldMedium, serif;
    font-size: 2em;
  }

  h3.subtitle {
    font-family: OswaldExtraLight, serif, serif;
    font-size: 0.7em;
    font-style: italic;
  }

  blockquote {
    border: 20px solid;
    padding: 15px;
    -webkit-border-image: url(../img/bubble.png) 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/bubble.png) 100 stretch; /* Opera 11-12.1 */
    border-image: url(../img/bubble.png) 100 stretch;
    box-shadow: none;
    font-family: OswaldLight, serif;
  }

  font-family: OswaldExtraLight, serif;
  font-size: 60px;

  img.lang-embedded {
    border: none;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
  }

  div.menu-item {
    text-align: center;
    padding-bottom: 15px;
    img.skull {
      width: 70px;
      vertical-align: middle;
      padding-bottom: 15px;
    }

    img.menu_text {
      width: 870px;
      vertical-align: middle;

    }
  }

  .chart {
    .ct-series-a .ct-line {
      stroke: #0082C8;
    }
    .ct-series-c .ct-line {
      stroke: #d8c345;
    }
    .ct-legend {
      position: relative;
      z-index: 10;
      list-style-type: none;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 3px;
        display: inline-block;
        margin-right: 23px;
      }

      li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
      }

      li.inactive:before {
        background: transparent;
      }

      &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
      }

      & .ct-series-0:before {
        background-color: #0082C8;
        border-color: #0082C8;
      }
      & .ct-series-1:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
      }
      & .ct-series-2:before {
        background-color: #d8c345;
        border-color: #d8c345;
      }
    }
  }
}