.reveal {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  code span.fragment.fade-out.visible {
    display: none;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    code {
      padding: 20px;
      max-height: 1500px;
      font-size: 30px;
      line-height: 35px;
      overflow: hidden;
    }

    &.fullscreen {
      code {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }

  img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }

  h1.title {
    font-family: OswaldMedium, serif;
    font-size: 2em;
  }

  h3.subtitle {
    font-family: OswaldExtraLight, serif;
    font-size: 0.7em;
    font-style: italic;
  }

  h2 {
    font-family: OswaldExtraLight, serif;
    font-size: 1.5em;
  }

  blockquote {
    border: 20px solid;
    padding: 15px;
    -webkit-border-image: url(../img/bubble.png) 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/bubble.png) 100 stretch; /* Opera 11-12.1 */
    border-image: url(../img/bubble.png) 100 stretch;
    box-shadow: none;
    font-family: OswaldLight, serif;
  }

  font-family: OswaldExtraLight, serif;
  font-size: 60px;

  img.lang-embedded {
    border: none;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
  }

  h2 {
    img.lang-embedded {
      border: none;
      width: 80px;
      padding-left: 5px;
      padding-right: 5px;
    }

  }

  div.menu-item {
    text-align: center;
    padding-bottom: 15px;
    img.skull {
      width: 70px;
      vertical-align: middle;
      padding-bottom: 15px;
    }

    img.menu_text {
      width: 870px;
      vertical-align: middle;

    }
  }

  .chart {
    .ct-series-a .ct-line {
      stroke: #0082C8;
    }
    .ct-series-c .ct-line {
      stroke: #f8af00;
    }
    .ct-series-a .ct-slice-pie {
      fill: #008ed6;
    }
    .ct-series-b .ct-slice-pie {
      fill: #f05b4f;
    }
    .ct-series-c .ct-slice-pie {
      fill: #f8af00;
    }

    .ct-legend {
      position: relative;
      z-index: 10;
      list-style-type: none;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 3px;
        display: inline-block;
        margin-right: 23px;
      }

      li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
      }

      li.inactive:before {
        background: transparent;
      }

      &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &.line-chart {
      .ct-legend {
        & .ct-series-0:before {
          background-color: #0082C8;
          border-color: #0082C8;
        }
        & .ct-series-1:before {
          background-color: #f05b4f;
          border-color: #f05b4f;
        }
        & .ct-series-2:before {
          background-color: #f8af00;
          border-color: #f8af00;
        }
      }
    }

    &.pie-chart {
      .ct-legend {
        & .ct-series-0:before {
          background-color: #0082C8;
          border-color: #0082C8;
        }
        & .ct-series-1:before {
          background-color: #f05b4f;
          border-color: #f05b4f;
        }
        & .ct-series-2:before {
          background-color: #f8af00;
          border-color: #f8af00;
        }
      }
    }
  }

  img.doom-face {
    padding-top: 50px;
    width: 100px;
  }

  ul {
    list-style: none;
    margin: 0;
    li {
      padding-bottom: 10px;
    }
  }

  .four-grid {
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0.7em;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .fragment {
        position: absolute;
      }
    }
    .one {
      grid-column: 1;
      grid-row: 1;
      border-right: thin dotted;
      border-bottom: thin dotted;
    }
    .two {
      grid-column: 2;
      grid-row: 1;
      border-bottom: thin dotted;

    }
    .three {
      grid-column: 1;
      grid-row: 2;
      border-right: thin dotted;
    }
    .four {
      grid-column: 2;
      grid-row: 2;
    }
  }

  code {
    span.fragment.highlight-red.error.visible {
      color: black;
      background-color: rgba(255, 0, 0, 0.37);
      span {
        color: black;
      }
    }

    mark {
     background-color: #9fffa3;
    }
  }

  footer {
    position: absolute;
    left: 50%;
    margin-left: -265px;
    bottom: 10px;
    z-index: 500;
    font-size: 20px;
  }

  .kunammon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    img {
      width: 600px;
      display: block;
      float: right;
    }
  }
  .fire {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/fire.gif) no-repeat center center;
  }

  a {
    color: black;
    &:hover {
      color: #7c7a84;
    }
  }

  #doomhead {
    width: 150px;
    position: absolute;
    bottom: 10px;
    right:  10px;
    background-color: black;
    z-index: 500;

    img {
      width: 150px;
    }
  }
}